<mat-card>
  <mat-card-title>
    Proyecto: {{project.title}}
  </mat-card-title>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-card-content fxLayoutAlign="space-between center" *ngFor="let taskList of taskLists">
      <mat-card>
        <h1> {{taskList.title}} </h1>
        <mat-card-content fxLayout="column" fxLayoutAlign="space-around center">
          <mat-card *ngFor="let task of taskList.tasks">
            <mat-card-title>{{task.title}}</mat-card-title>
            <mat-card-content>
              Descripción: {{task.description}} <br>
              Completada: {{task.complete}} <br>
              Responsable: {{task.assignee!.username}} <br>
            </mat-card-content>
            <mat-card-footer>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <!--              <div>-->
                <!--                <button mat-stroked-button color="accent" (click)="editTask(task.id!)">Editar tarea</button>-->
                <!--              </div>-->
                <div>
                  <button mat-stroked-button color="warn" (click)="deleteTask(taskList.id!,task.id!)">Borrar tarea</button>
                </div>
              </div>
            </mat-card-footer>
          </mat-card>
        </mat-card-content>
        <mat-card-footer>
          <div fxLayout="row" fxLayoutAlign="space-between center">

            <div>
              <button mat-stroked-button color="primary" (click)="createTask(taskList.id!)">Crear tarea</button>
            </div>
            <!--          <div>-->
            <!--            <button mat-stroked-button color="accent" (click)="editTaskList(taskList.id!)">Editar lista</button>-->
            <!--          </div>-->
            <div>
              <button mat-stroked-button color="warn" (click)="deleteTaskList(taskList.id!)" style="margin-left: 1%">Borrar lista</button>
            </div>
          </div>
        </mat-card-footer>
      </mat-card>
    </mat-card-content>
  </div>
  <mat-card-footer >
    <div fxLayout="row">
      <div>
        <button mat-stroked-button color="primary" (click)="createTaskList()">Crear lista</button>
      </div>
<!--      <div>-->
<!--        <button mat-stroked-button color="primary" (click)="editProject()">Editar proyecto</button>-->
<!--      </div>-->
      <div style="margin-left: 1%">
        <button mat-stroked-button color="warn" (click)="deleteProject()">Borrar proyecto</button>
      </div>
    </div>
  </mat-card-footer>
</mat-card>
